<header class="header sticky sticky--top js-header">

  <div class="grid">
  
    <nav class="navigation">
      <ul class="navigation__list navigation__list--inline">
        <li class="navigation__item" style="margin-left: 10px;"><a href="#" class="navigation__link navigation__link--is-active" >Home</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">About Us</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Events</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Contact</a></li>
        <div style="display: flex;justify-content: space-between;margin-left: 750px;">
        <li class="navigation__item"><a routerLink="/LoginComponent" class="navigation__link navigation__link--is-active">Log In</a></li>
        <li class="navigation__item" style="margin-left: 10px;"><a routerLink="/RegisterComponent"  class="navigation__link navigation__link--is-active">Sign In</a></li>
      </div>
      </ul>
        

   
    </nav>
  
  </div>

</header>

<main class="main">

  <div class="grid">

   <router-outlet></router-outlet>
  </div>

</main>