<div class="demo-page">
    <main style="margin-left: 150px;"class="demo-page-content">
   
  
      <section>
        <div class="href-target" id="input-types"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
            <line x1="21" y1="10" x2="3" y2="10" />
            <line x1="21" y1="6" x2="3" y2="6" />
            <line x1="21" y1="14" x2="3" y2="14" />
            <line x1="21" y1="18" x2="3" y2="18" />
          </svg>
          Event Information        </h1>
  
        <div class="nice-form-group">
          <label>Event Name</label>
          <input type="text" placeholder="Your evnet name" value="" />
        </div>
  
  
        <div class="nice-form-group">
          <label>Price Ticket</label>
          <input type="number" placeholder="0 DT" value="" />
        </div>
  
        <div class="nice-form-group">
          <label>capacity</label>
          <input type="number" placeholder=" 0 DT" value="" />
        </div>
  
        <div class="nice-form-group">
          <label>EVENT Poster</label>
          <input type="file" />
        </div>
  
        <div class="nice-form-group">
            <label>Event Ticket Pictures</label>
            <input type="file"    />
        </div>

        <div class="nice-form-group">
            <label>description </label>
            <textarea rows="5" placeholder="Your event description"></textarea>
          </div>
       
        <details>
          <summary>
           
          </summary>
        </details>
      </section>
  
      
  
    </main>
  </div>